{#
/**
 * @file
 * News Vertical Teaser.
 *
 * Vertical Teaser for News
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - news_banner_image: Hero image for banner
 * - news_banner_title: Title of banner
 * - news_banner_topic: Topic selected. Dynamically altered vi news-banner.js
 */
#}
<div {{ attributes }} class="su-news-vertical-card">
  {{ news_vertical_teaser_image }}
  {{ news_vertical_teaser_title }}
  {{ news_topic }}
</div>
