{#
/**
 * @file
 * News Vertical Teaser.
 *
 * Vertical Teaser for News
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - news_vertical_teaser_image: Hero image for card
 * - news_vertical_teaser_headline: Title of card
 * - news_topics: Topic selected. Dynamically altered vi news-banner.js
 */
#}

{%
  set classes = [
  'su-card',
  'su-news-vertical-teaser',
  modifier_class
]
%}
{% set attributes = attributes.addClass(classes) %}

<article {{ attributes }}>
  <figure class="su-media su-media--image su-card__media">
      <div class="su-media__wrapper">
        {{ news_vertical_teaser_image }}
      </div>
  </figure>
  <section class="su-card__contents">
    <h2 class="su-link su-card__link su-link--action">
      {{ news_vertical_teaser_headline }}
    </h2>
    <div class="news-vertical-teaser__topics">{{ news_topics }}</div>
  </section>
</article>
