{#
/**
 * @file
 * News Banner.
 *
 * Basic Page Banner for news.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - news_banner_image: Hero image for banner
 * - news_banner_title: Title of banner
 * - news_banner_topic: Topic selected. Dynamically altered vi news-banner.js
 */
#}
<div {{ attributes }} class="su-news-banner">
    {{ news_banner_image }}
    {{ news_banner_title }}
    {{ news_banner_topic }}
</div>
